.c-p-add{
  width: 50%;
      min-width: 350px;
}
.c-p-caption paper-radio-button{
	display:inline-block;
}
.p-select{
	width:100%;
	border:none;
	border:1px solid #757575;
	font-size:18px;
	color:#757575;
	background:none;
}

.p_file{
	font-size:18px;
	color:#757575;
	margin-top:8px;
}
.c-fab-fixed{
	position:fixed;
	right: 24px;
	bottom:24px;
}
.e-fab-fixed-false{
	position:fixed;
	right: 24px;
	top:96px;
	
	transition: transform 500ms cubic-bezier(0.4,0,.2,1) 500ms,background-color 500ms cubic-bezier(0.4,0,.2,1);
	-webkit-transition: -webkit-transform 500ms cubic-bezier(0.4,0,.2,1) 500ms,background-color 500ms cubic-bezier(0.4,0,.2,1);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.e-fab-fixed-true{
    position:fixed;
	right: 24px;
	top:96px;
	transition: transform 500ms cubic-bezier(0.4,0,.2,1) 500ms,background-color 500ms cubic-bezier(0.4,0,.2,1);
	-webkit-transition: -webkit-transform 500ms cubic-bezier(0.4,0,.2,1) 500ms,background-color 500ms cubic-bezier(0.4,0,.2,1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	
}
core-animated-pages {
      position: absolute;
      top: 0px;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
    }

    section > div {
      height: 100%;
      color: white;
    }
    
    .c-shopcard{
    	border-radius: 2px;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		background-color:#fff;
    }
    .shopwrap{
    	width: 354px;
		margin: 0 auto;
		padding: 40px 24px 0px;
    }
    .selectwrap{
    	width: 354px;
		margin: 0 auto;
		padding: 0x 24px 24px;
    }
    .shopitem{
		padding: 12px 0px;
		color:#757575;
		font-size:14px;
	}
	.shopitem img{
		padding-right:6px;
	}
	.order-category{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
	}
	.order-category paper-item{
		color:#616161;
	}
	
	.order-category core-toolbar{
		border-bottom: 1px solid #bdbdbd;
		z-index:500;
		width:100%;
	}
	
	.order-category span{
	}
	
	paper-icon-button::shadow core-icon,paper-menu-button::shadow core-icon {
        fill: #fff;
    }